header{
	background: white;
}
.logo{
	width: 200px;
}
.flex{
	display:flex;
	justify-content:space-between;
	align-items: center;
}
.navigation-li{
	margin-right: 40px
}
.social-li:after {
    content: '';
    width: 1px;
    height: 30px;
    background: #3D58A6;
    display: inline-block;
    margin: 0 10px;
    margin-right: 20px;
}
.icons{
	display: flex;
}
.fontawesome{
	font-size: 30px;
	margin-right: 21px;
	color:#3D58A6;
}
.search{
	color:red;
}
.bg{
	background: #EE4036;
	height:90px;
	width: 100%;
}
.text{
	padding-top:34px;
	padding-bottom:34px;
	padding-left: 105px;
}
.images{
	display: flex;
	justify-content: space-between;
	margin-right:20px;
	margin-left:20px;
}
.border{
	border: solid;
	border-color: red;
	border-width:2px;
}
.border1{
	border: solid;
	border-color: red;
	border-width:2px;
}
.image1{
	padding: 60px 70px;
}
.image2{
	padding-top: 69px;
	padding-bottom: 106px;
	padding-right: 71px;
	padding-left: 71px;
}
.image1-1{
	margin-top:108px;
}
.image2-2{
	margin-top:57px;
}
.image3-3{
	margin-top:108px;
}
.images-text{
	font-color:red;
}
.images-paragraph{
	margin-top:5px;
}
.xazi{
	border: solid;
	border-color: red;
	margin-top:97px;
	border-width: 2px 0 0 0
}
.team{
	color:red;
	margin-top: 25px;
	margin-left: 105px;
}
.men{
	display: flex;
	justify-content: space-between;
	margin-top: 45px;
}
.man1{
	margin-left:90px;
}
.man4{
	margin-right:126px;
}
.bg2{
	margin-top:125px;
	background: #BDCCD4;
	height:90px;
	width: 100%;
}
.bg2-text{	
	padding-top:34px;
	padding-bottom:34px;
	padding-left: 105px;
}
.bg3{
	height: 100%;
	width: 100%;
	background-color: #E6E6E6;
}
.text3{
	padding:35px 0;
	padding-left:98px;
}
.boxes{
	display: flex;
	justify-content: space-between;
}
.box1{
	width: 570px;
	height: 225px;
	background-color:#F2F2F2;
	margin-left:50px;
}
.box2{
	width: 570px;
	height: 225px;
	background-color:#F2F2F2;
	margin-right:50px;
}
.boxtext,
.box2text{
	margin-left:50px;
	margin-top:20px;
}
.boxchild2{
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}
.boxchild1{
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}
.box-child1image{
	margin-left:60px;
	margin-top:10px;
}
.boxchild1-text{
	margin-left:65px;
	text-align: center;
}
.box-child2image{
	margin-left:60px;
	margin-top:15px;
}
.boxchild2-text{
	padding-left:65px;
	text-align:center
}
.footer{
	display: flex;
	background-color:white;
	justify-content: space-between;
	margin-top:25px;
	margin-bottom: 25px;
}
.footertext1{
	padding-left:100px;
}
.footertext2{
	padding-right:100px;
}